.root {
	width: 250px;
	border: 1px solid black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.itemBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemBlockTitle {
	margin-left: 20px;
}

.item {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 40px;
}

.square {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
